.text1 {
	text-align: center;
}
.padding1 {
	padding-left:80px;
	padding-right:80px;
}
.margin1 {
	margin:80px;
}
.margin2 {
	margin-bottom:80px;
}
.bg1	{
	background-color: #eaeae2;
}
.padding2 {
	padding:20px;
}
