body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}
div{
    text-align: center;
    background-color: white;
    margin: 20px 350px 20px 350px;
    padding: 50px;
}
.justify{
    text-align: justify;
}
.line-height{
    line-height: 25px;


